.todoItem {
  .red {
    background-color: tomato;
    color: white;
  }
  .pointer {
    cursor: pointer;
    font-size: 18px;
  }
  .finished {
    color: gray;
    text-decoration: line-through;
  }
}
